body {
	font-family: 'Special Elite', cursive;
	background-image: url("http://i15.photobucket.com/albums/a385/skatergirl117/desk_lighter_zpszec8oj7v.png");
	background-size: cover;
	background-color: #ffffff;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    position: relative;
}

.links li a {
/*	border: 1px solid #F0D059;*/
	margin-top: 1em;
	top: 1em;
	left: 1em;
	width: 6em;
	border-right: 2em;
	padding: 10px;
	position: relative;
	display: inline-block;
	float: left;
	font-size: 1.25em;
	text-align: center;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

/*li:hover {
	cursor: pointer;
	color: #B95C00;
	text-decoration: none;
}

a:visited {
	color: #F0D059;
	text-decoration: none;
}*/

h3 {
	position: absolute;
	font-size: 3em;
	left: 10.3em;
	top: 5em;
	padding: 0;
	margin-right: 0;
}
p {
	position: absolute;
/*	marginleft: 5em;*/
	padding-right: 2em;
	padding-left: 2em;
	top: 23em;
	line-height: 2em;
}
#my_photo img {
	position: absolute;
	top: 8em;
	right: 35em;
	border-radius: 50%;
}

ul {
	list-style-type: none;
}
footer {

}
.icons li {
	display: inline-block;
	position: relative;
	right: -14em;
	top: 2em;
}
 